@font-face {
    font-family: 'Doyle';
    src: url('Doyle-BlackItalic.woff2') format('woff2'),
        url('Doyle-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Doyle';
    src: url('Doyle-Black.woff2') format('woff2'),
        url('Doyle-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Doyle';
    src: url('Doyle-BlackItalic.woff2') format('woff2'),
        url('Doyle-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Doyle';
    src: url('Doyle-normal.woff2') format('woff2'),
        url('Doyle-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

